<section class="page-title">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="block">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
               <li class="list-inline-item">/</li>
              <li class="list-inline-item">
                  About
              </li>
            </ul>
             <h1>About</h1>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-sm feature-2">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-5">
				<div class="about-us">
					<span class="text-color">About us</span>
					<h2 class="mt-2">We are a dynamic team of creatives people of design & marketing.</h2>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="about-content mt-3 mt-lg-0">
					<p>Steps on how you can increase traffic and sales with optimization, social media marketingLorem ipsum dolor sit amet, consectetur adipisicing elit. Enim alias excepturi laboriosam sed voluptatibus porro reiciendis voluptate quas deleniti nisi soluta, nulla ullam tempora, dicta, optio id sit expedita aliquid.</p>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="feature-wrap section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="feature-block mb-5 mb-lg-0 text-center text-lg-left">
					<i class="far fa-chart-bar"></i>
					<h4>Outstanding & Trending Strategy</h4>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="feature-block mb-5 mb-lg-0 text-center text-lg-left">
					<i class="fas fa-headphones-alt"></i>
					<h4>Expert Team & Quick Support</h4>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6">
				<div class="feature-block mb-5 mb-lg-0 text-center text-lg-left">
					<i class="fas fa-check"></i>
					<h4>Fast & Quick Result Searching</h4>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-md-6 ">
				<div class="feature-block text-center text-lg-left">
					<i class="far fa-smile"></i>
					<h4>Quality Service in Low Cost</h4>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="section process">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="process-heading text-center">
					<span class="text-color">Our working Process</span>
					<h2 class="mb-3 mt-2">We love to share our working process</h2>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-6">
						<div class="process-item text-center text-lg-left ">
							<i class="fas fa-search"></i>
							<h4>Research Project</h4>
							<p>Repellendus harum amet ipsum, iure earum aliquam .</p>
						</div>
						<div class="process-item text-center text-lg-left">
							<i class="fas fa-cloud"></i>
							<h4>Find Ideas</h4>
							<p>Repellendus harum amet ipsum, iure earum aliquam .</p>
						</div>

					</div>
					<div class="col-lg-6 col-sm-6">
						<div class="process-item text-center text-lg-left">
							<i class="fas fa-tachometer-alt"></i>
							<h4>Start Optimize</h4>
							<p>Repellendus harum amet ipsum, iure earum aliquam .</p>
						</div>
						<div class="process-item text-center text-lg-left">
							<i class="far fa-chart-bar"></i>
							<h4>Reach Target</h4>
							<p>Repellendus harum amet ipsum, iure earum aliquam .</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<img src="assets/images/bg/about.jpg" alt="" class="img-fluid w-100">
			</div>
		</div>
	</div>
</section>

<section class="section about pt-0">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6">
				<div class="about-img">
					<img src="assets/images/bg/about_img.png" alt="" class="img-fluid w-100">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-item">
					<span class="text-color">No #1 Ranking at Google</span>
					<h2>Best Digital Marketing Inc With Expert Team</h2>
					<p>We brand value Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis assumenda vero laborum nostrum unde soluta voluptatibus quidem, ut necessitatibus, labore quasi aliquam .</p>

					<a href="#" class="btn btn-main">Our Services <i class="fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="counter">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="heading text-center">
					<span class="text-color">Our Experience</span>
					<h2>We have completed 150+ projects succesfully</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item mb-5 mb-lg-0">
					<i class="fas fa-globe"></i>
					<div class="counter-stat">
						<span class="count h2">15</span><span>K</span>
					</div>
					<p>Global Customer</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item mb-5 mb-lg-0">
					<i class="fas fa-signal"></i>
					<div class="counter-stat">
						<span class="count h2">1,200</span><span>+</span>
					</div>
					<p>Potential Growth</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item mb-5 mb-lg-0">
					<i class="far fa-heart"></i>
					<div class="counter-stat">
						<span class="count h2">600</span><span>%</span>
					</div>
					<p>Expert Employee</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item mb-5 mb-lg-0">
					<i class="far fa-thumbs-up"></i>
					<div class="counter-stat">
						<span class="count h2">80</span><span>+</span>
					</div>
					<p>Countries Served</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section team">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="heading text-center">
					<span class="text-color">Our Team</span>
					<h2>Expert Team management to make it worthy</h2>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-item mb-5 mb-lg-0">
					<div class="team-img">
						<img src="assets/images/team/team-1.jpg" alt="" class="img-fluid">
					</div>

					<div class="team-info">
						<h4>John Morgan</h4>
						<p>Senior Developer</p>
					</div>

					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-item mb-5 mb-lg-0">
					<div class="team-img">
						<img src="assets/images/team/team-2.jpg" alt="" class="img-fluid">
					</div>

					<div class="team-info">
						<h4>John Morgan</h4>
						<p>Senior Developer</p>
					</div>

					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-item mb-5 mb-lg-0">
					<div class="team-img">
						<img src="assets/images/team/team-3.jpg" alt="" class="img-fluid">
					</div>

					<div class="team-info">
						<h4>John Morgan</h4>
						<p>Senior Developer</p>
					</div>

					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-item mb-5 mb-lg-0">
					<div class="team-img">
						<img src="assets/images/team/team-4.jpg" alt="" class="img-fluid">
					</div>

					<div class="team-info">
						<h4>John Morgan</h4>
						<p>Senior Developer</p>
					</div>

					<ul class="list-inline">
						<li class="list-inline-item">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
						</li>
						<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="#">
							<i class="fab fa-linkedin-in"></i>
							</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>